{% load ramlgnarok %}

<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" />
    <title>{{ api.title }} : {{ api.version }}</title>
    <style type="text/css">
      body {
        font-family: "Open Sans";
      }
      .method-trigger {
        padding: 8px 15px;
        width: 100%;
        display: block;
        font-size: 120%;
        font-weight: bold;
      }
      .method-trigger:hover {
        text-decoration: none;
        cursor: pointer;
      }
      .menu {
        width: 20%;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        padding: 0 10px;
      }
      .main {
        width: 40%;
        position: fixed;
        left: 20%;
        top: 0;
        height: 100%;
        padding: 0 16px;
      }
      .desc {
        width: 40%;
        position: fixed;
        left: 60%;
        top: 0;
        height: 100%;
        background-color: #f9f9f9;
        padding: 0 16px 0 10px;
      }
      .logo {
        color: #333;
        font-weight: bold;
        text-align: center;
        font-size: 150%;
        padding: 40px 0;
      }
      .logo small {
        font-weight: normal;
        font-size: 60%;
      }
      .media-types {
        width: 100%;
        text-align: center;
        padding-top: 10px;
      }
      .toc {
        padding-top: 20px;
      }
      .toc ul {
        padding-left: 0;
        list-style-type: none;
      }
      .toc ul li {
        margin: 8px 0;
        padding-left: 5px;
        border-left: 4px solid #f3f3f3;
      }
      .toc ul li a {
        font-size: 120%;
      }
      .toc ul li a:hover {
        font-weight: bold;
        text-decoration: none;
      }
    </style>
    <style>{{ pygments_style }}</style>
  </head>
  <body>
    <div class="row">
      <div class="menu">
        <div class="logo">
          FANCY LOGO<br/>
          <small>uhh... fancy!</small>
        </div>
        <div class="media-types">
          <div class="dropdown media-type-chooser">
            <p>
              Media type is set to <code></code>
            </p>
            <button
              class="btn btn-default btn-xs dropdown-toggle" type="button"
              id="#media-type-chooser"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
            >
              Change media type
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="media-type-chooser">
              {% for media_type in api.media_types %}
              <li><a href="#">{{ media_type }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <nav id="toc" class="toc">
          <ul>
          {% for name, node in api.toc.iteritems %}
            <li><a href="#{{ node.id }}">{{ name }}</a></li>
          {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="main">
        <div class="page-header">
          <h1>{{ api.title }} <small>{{ api.version }}</small></h1>
        </div>

        <code>{{ api.base_uri }}</code>

        <h2>Authentication</h2>

        {% for name, sec_scheme in api.security_schemes.iteritems %}
          <h3>{{ name }}</h3>
          <blockquote>{{ sec_scheme.description|md }}</blockquote>
        {% endfor %}

        {% for endpoint in api.endpoints %}

          {% if endpoint.methods %}

            <h2 id="{{ endpoint.id}}">{{ endpoint.name }} <small>{{ endpoint.path }}</small></h2>
            <p>
              Secured by:
              {% for security_scheme in endpoint.secured_by %}
                <code>{{ security_scheme.name }}</code>
              {% endfor %}
            </p>

            {% if endpoint.description %}
              <blockquote>{{ endpoint.description|md }}</blockquote>
            {% endif %}

            <div class="row">
              <div class="col-xs-12">
              {% for method in endpoint.methods.values %}
                <a data-method="{{ method.id }}" class="method-trigger
                  {% if method.name == 'get' %}
                    bg-info text-info
                  {% elif method.name == 'post' %}
                    bg-danger text-danger
                  {% elif method.name == 'put' %}
                    bg-warning text-warning
                  {% elif method.name == 'patch' %}
                    bg-success text-success
                  {% endif %}
                  ">
                  {{ method.name }}
                </a>
              {% endfor %}
              </div>
            </div>

            {% if not forloop.last %}
            <hr/>
            {% endif %}
          {% endif %}

        {% endfor %}
      </div>
      <div class="desc">
        <p class="method-placeholder" style="margin-top: 50%; text-align: center;">
          Pick a <b>method</b> from the resource list to see it's details.
        </p>

        {% for endpoint in api.endpoints %}
          {% for method in endpoint.methods.values %}
            <div id="{{ method.id }}" class="method" style="display: none;">
            <h2>
              <span class="label
                {% if method.name == 'get' %}
                  label-info
                {% elif method.name == 'post' %}
                  label-danger
                {% elif method.name == 'put' %}
                  label-warning
                {% elif method.name == 'patch' %}
                  label-success
                {% endif %}
              ">{{ method.name }}</span>
              <small>{{ endpoint.path }}</small>
            </h2>
            <p>
              Secured by:
              {% for security_scheme in endpoint.secured_by %}
                <code>{{ security_scheme.name }}</code>
              {% endfor %}
            </p>
            <hr/>
            <blockquote>{{ method.description|md }}</blockquote>
            <hr/>
            <h4>Headers</h4>
            {% for header in method.headers.values %}
              {{ header.name }}
            {% endfor %}
            <hr/>
            <h4>Body</h4>
            {% for body in method.body %}
              {{ body.media_type }}<br/>
              {{ body.type }}<br/>
              <div class="example-chooser-root">
                <div class="dropdown example-chooser">
                  <button
                    class="btn btn-default dropdown-toggle" type="button"
                    id="#{{ method.id}}-{{ response.status_code }}-example"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                  >
                    Examples
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="{{ method.id}}-{{ response.status_code }}-example">
                    {% for name, rendered in body.rendered.iteritems %}
                    <li><a data-target="#" >{{ name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>

                {% for name, rendered in body.rendered.iteritems %}
                <div class='example' data-example="{{ name }}">
                  <h4>{{ name }} <small>example</small></h4>
                  {{ rendered }}
                </div>
                {% endfor %}
              </div>
            {% endfor %}
            <hr/>
            <h4>Responses</h4>
              <ul class="nav nav-tabs response-tabs">
                {% for status_code, response in method.responses.iteritems %}
                  <li role="presentation">
                    <a href="#{{ method.id}}-{{ response.status_code }}">
                      {{ response.status_code }}
                    </a>
                  </li>
                {% endfor %}
              </ul>

              <div class="tab-content">
                {% for status_code, response in method.responses.iteritems %}
                  <div role="tabpanel" class="tab-pane" id="{{ method.id}}-{{ response.status_code }}">
                    <blockquote>{{ response.description|md }}</blockquote>
                    {% for body in response.body %}
                      <div class="media-type" data-media-type="{{ body.media_type }}">
                        <h4>{{ body.media_type }}</h4>
                        <div class="example-chooser-root">
                          <div class="dropup example-chooser">
                            <button
                              class="btn btn-default dropdown-toggle" type="button"
                              id="#{{ method.id}}-{{ response.status_code }}-example"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                            >
                              Examples
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="{{ method.id}}-{{ response.status_code }}-example">
                              {% for name, rendered in body.rendered.iteritems %}
                              <li><a data-target="#" >{{ name }}</a></li>
                              {% endfor %}
                            </ul>
                          </div>

                          {% for name, rendered in body.rendered.iteritems %}
                          <div class='example' data-example="{{ name }}">
                            <h4>{{ name }} <small>example</small></h4>
                            {{ rendered }}
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
  <script type="text/javascript">
    (function() {
      var mediaType = undefined;

      var switchMediaType = function(mediaType){
        mediaType = mediaType;
        console.log(mediaType);
        $('.media-type').hide();
        $('.media-type[data-media-type="' + mediaType + '"]').show();
        $('.media-type-chooser code').text(mediaType);
      };

      switchMediaType('application/json');

      $('.method-trigger').click(function(e){
        $('.method').hide();
        $('.method-placeholder').hide();
        $('.method#' + e.target.dataset.method).show();
      });

      $('.media-types a').click(function(e){
        mediaType = e.target.dataset.mediatype;
      });

      $('.response-tabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
      });

      $('.media-type-chooser li a').click(function(){
        switchMediaType($(this).text());
      });
      $('.example-chooser li a').click(function(){
        var parent = $(this).parents('.example-chooser-root');
        parent.find('.example').hide();
        parent.find('.example[data-example="' + $(this).text() + '"]').show();
      });

      $('.example').hide();
      $('.example[data-example="default"]').show();

      $('.menu').mCustomScrollbar({'theme': 'minimal-dark', 'scrollInertia': 300});
      $('.main').mCustomScrollbar({'theme': 'minimal-dark', 'scrollInertia': 300});
      $('.desc').mCustomScrollbar({'theme': 'minimal-dark', 'scrollInertia': 300});
    })(jQuery);
  </script>
  </body>
</html>
